body {background-color: black; font-size: 18px; font-family:'Helvetica';}
.postcard {background-color:white; width: 500px; height: 400px; margin: auto; position: absolute;
top:50%; left:50%; transform: translate(-50%,-50%); padding:15px;}
.postcard-header {overflow: hidden; height: 120px;}
.postcard-header img{ width: 80px; float:right;}
.postcard-footer { padding: 10px; text-align: center;}
.postcard-body{overflow: hidden;}
.input { font-size: 30px;font-family:'Helvetica';}
.postcard h1 {margin: 5px; padding-top: 20px;}
.left-part {float:left; width: 50%;}
.right-part {float:right; width: 50%; text-align: right;}
.right-part input {display: inline-block; border-top: none; border-left: none; border-right: none;  margin-top: 20px;}
h1{ font-size: 35px;}
.postcard-footer input[type="submit"]{ border:none; border-bottom:1px solid gray;}
.postcard-body input [type="text"]{border:none; border-bottom:1px solid gray; width: 240px; margin-bottom: 10px; padding: 5px;}
